{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Movie Name:
        <dd><input type=text size=30 name=movie>
        <dd><input type=submit value=Download>
      </dl>
    </form>
    <form action="{{ url_for('fill_database') }}" method=post class=fill-database>
      <dl>
        <dd><input type=submit value=Fill>
      </dl>
    </form>
  <ul class=entries>
  {% for entry in entries %}
    <li>
      <h2>{{ entry.quote }}</h2>
      <p>{{ entry.label }}</p>
      <canvas id="{{entry.id}}" width="100" height="40">
      <script>
	var c = document.getElementById("{{entry.id}}");
	var ctx = c.getContext("2d");
	ctx.fillStyle="#00FF00";
	ctx.fillRect(0,0,{{entry.positive}}*100,20)
	//ctx.fillStyle="#0000FF";
	//ctx.fillRect(0,20,{{entry.neutral}}*100,20)
	ctx.fillStyle="#FF0000";
	ctx.fillRect(0,20,{{entry.negative}}*100,20)
      </script>
      </canvas>
      <table>
	<tr>
	  <td>Positive</td>
	  <td>{{ entry.positive }}</td>
	</tr>
	<tr>
	  <td>Negative</td>
	  <td>{{ entry.negative }}</td>
	</tr>
	<tr>
	  <td>Neutral</td>
	  <td>{{ entry.neutral }}</td>
	</tr>
      </table>
      <p>{{ entry.critic }}</p>
      <p>{{ entry.movie }}</p>
      {{ entry.score|safe }}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
