{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Movie Name:
        <dd><input type=text size=30 name=movie>
        <dd><input type=submit value=Download>
      </dl>
    </form>
    <form action="{{ url_for('generate_data') }}" method=post class=output>
      <dl>
        <dd><input type=submit value=Output>
      </dl>
    </form>
    <form action="{{ url_for('show_entries_by_movie') }}" method=post class=show-movie>
      <dl>
        <dt>Movie Name:
	<dd>
	<select name=movie>
	{% for movie in movies %}
	<option value="{{movie.movie}}"{% if movie.movie == cur_movie %}selected{% endif %}>{{movie.movie}}</option>
	{% endfor %}
	</select>
        <dd><input type=submit value="Display Movie">
      </dl>
    </form>
    <form action="{{ url_for('show_entries_by_movie') }}" method=post class=show-source>
      <dl>
        <dt>Source Name:
        <dd>
	<select name=source>
	{% for source in sources %}
	<option value="{{source.source}}"{% if source.source == cur_source %}selected{% endif %}>{{source.source}}</option>
	{% endfor %}
	</select>
        <dd><input type=submit value="Display Source">
      </dl>
    </form>
    <form action="{{ url_for('show_entries_by_movie') }}" method=post class=change-clf>
      <dl>
        <dt>Classifier Type:
        <dd>
	<select name=clf>
	{% for clf in clfs %}
	<option value="{{clf}}" {% if clf == cur_clf %}selected{% endif %}>{{clf}}</option>
	{% endfor %}
	</select>
        <dd><input type=submit value="Change Classifier">
      </dl>
    </form>
  {% if avg_score %}
    <h1>{{ name }}</h1>
    <p>Average Score: {{ avg_score }}</p>
    <p>Average Positive Sentiment: {{ avg_pos }}</p>
    <p>Positive Sentiment per Score Point: {{ pos_per_score }}</p>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
      <h2>{{ entry.quote }}</h2>
      <p>{{ entry[1] }}</p>
      <canvas id="{{entry.id}}" width="100" height="40">
      <script>
	var c = document.getElementById("{{entry.id}}");
	var ctx = c.getContext("2d");
	ctx.fillStyle="#00FF00";
	ctx.fillRect(0,0,{{entry[2]}}*100,20)
	ctx.fillStyle="#FF0000";
	ctx.fillRect(0,20,{{entry[3]}}*100,20)
      </script>
      </canvas>
      <table>
	<tr>
	  <td>Positive</td>
	  <td>{{ entry[2] }}</td>
	</tr>
	<tr>
	  <td>Negative</td>
	  <td>{{ entry[3] }}</td>
	</tr>
      </table>
      <p>{{ entry.source }}</p>
      <p>{{ entry.movie }}</p>
      {{ entry.score|safe }}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
